DirectorySlash Off

RewriteEngine On

# Якщо існує файл або директорія — не чіпати
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Усі інші запити — на index.php
RewriteRule ^ index.php [QSA,L]


<IfModule mod_authz_core.c>
  Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
</IfModule>
